.location-details {
	.location-info {
		.location-name {
			margin-top: 10px;
		    font-weight: 600;
		    margin-top: 5px;
		    width: 203px;
		    font-size: 18px;
		    text-align: left;
		    text-transform: uppercase;
		}
	}
}