.search-overlay {
	position: fixed;
    top: 7%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(255,255,255,1);
    .close-search-overlay {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;
    }
    .search-container {
        padding: 2% 10% 5% 10%;
    	.inactive {
    		transition: transform .4s ease;
    		transform: scale(.5);
    	}
    	.active {
    	    opacity: 1;
    		transition: .3s all;
    		transform: scale(1);
    	}
    }
}
.displayNone {
    display: none;
}