.result-container {
	padding-top: 50px;
	.search-result-list {
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		float: left;
	}	
	.search-result-details {
		display: flex;
		flex-wrap: wrap;
    	width: 40%;
    	margin-left: 2%;
	}
}