.property-detail-overlay {
	position: absolute;
    top: 50px;
    left: 0;
    height: 90%;
    width: 100%;
    z-index: 20;
    background-color: rgba(255,255,255,1);
    .close-overlay {
        float: right;
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
        height: 16px;
        width: 16px;
    }
    .property-detail-container {
        width: 100%;
        height: 100%;
    }
    .near-by-properties {
        text-align: left;
        .header {
            margin-bottom: 10px;
            width: 100%;
            text-align: center;
            display: inline-block;
            position: relative;
            height: 10%;
            font-weight: 500;
            font-size: 18px;
            text-transform: uppercase;
            text-shadow: 0 1px 0 rgba(255, 129, 71, 0.75);
            color: #ff8147;
        }
        .property-card-carousel {
            text-align: center;
            .property-slider {
                -webkit-transition: .5s transform;
                -o-transition: .5s transform;
                transition: .5s transform;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                display: flex;
                margin-left: 50px;
            }
            > div {
                text-align: center;
                &:not(.left) {
                    &:not(.right) {
                        //box-shadow: 0 2px 13px 6px #b5b8bb;
                    }
                }
                div {
                    display: inline-block;
                    margin-left: 30px;
                }
                &.left {
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background-color: rgba(208,208,208,1);
                    color: #000;
                    box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
                    z-index: 50000;
                    top: 68vh;
                    left: 10vw;
                    text-align: center;
                    &.inactive {
                        opacity: 0;
                    }
                    i {
                        margin-top: 9px;
                        margin-right: 2px;
                    }
                }
                &.right {
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background-color: rgba(208,208,208,1);
                    color: #000;
                    box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
                    z-index: 50000;
                    top: 68vh;
                    left: 90vw;
                    text-align: center;
                    &.inactive {
                        opacity: 0;
                    }
                    i {
                        margin-top: 9px;
                        margin-left: 2px;
                    }
                }
            }

            @media screen and (max-device-width: 780px) {
              .index3 {
                display: none;
              }
            }
        }
    }
}
.displayNone {
    display: none;
}