.result-container {
	padding-top: 50px;
	.search-result-list {
		display: flex;
		flex-wrap: wrap;
		float: left;
	}	
	@media screen and (max-device-width: 540px) {
		.search-result-details {
			display: none;
		}
		.search-result-list {
			width: 100%;
		}
	}
	@media screen and (min-device-width: 540px) {
		.search-result-details {
			display: flex;
			flex-wrap: wrap;
		}
		.search-result-list {
			width: 60%;
		}
	}
	.search-result-details {
    	margin-left: 1%;
	}
}