.result-container {
	padding-top: 50px;
	.search-result-list {
		width: 40%;
		display: inline-block;
		float: left;
	}	
	.search-result-details {
		display: inline-block;
    	width: 57%;
    	margin-left: 2%;
	}
}