.navbar {
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 100%);
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,0,100%,from(rgba(0,0,0,.8)),to(rgba(0,0,0,0)));
    background-image: -ms-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 100%);
    background-image: linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#00000000', GradientType=0);
    background-repeat: repeat-x;
    margin-top: -7px;
    background-color: transparent;
    height: 52px;
    font-size: 15px;
  .menu {
    a {
      margin-right: 5px;
    }
  }
  .navbar-nav {
    &.center-menu {
      left: 15%;
      position: relative;
    }
    li {
      &:hover {
        color: rgba(0, 116, 228, 0.75);
      }
      a {
        color: white;
        text-transform: uppercase;
        &:hover, &:focus, &.selected {
          background-color: transparent;
          color: rgba(0, 116, 228, 0.75);
        }
      }
    }
    .dropdown-menu, .dropdown, .dropdown.open {
      background-color: transparent;
      border-color: #337ab7;
      li {
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
        a {
          color: #311813;
          font-weight: 500;
          &:hover, &:focus, &.selected {
            background-color: transparent;
            color: rgba(0, 116, 228, 0.75);
            font-weight: 500;
          }
        }
      }
    }
  }

  .download {
  	display: block;
    position: relative;
    margin-top: -5px;
  }
}