.property-card {
    display: flex;
    flex-wrap: wrap;
    height: 175px;
    .property-img {
        width: 25%;
        height: 150px;
    }
    .property-title {
        margin-top: 10px;
        font-weight: 600;
        margin-top: 5px;
        width: 203px;
        font-size: 18px;
        text-align: left;
        text-transform: uppercase;
    }
    .property-info-left {
        width: 25%;
        .property-city, .property-developer, .developer-name, .property-configs {
            margin-top: 10px;
            color: grey;
            font-size: 14px;
            text-align: left;
            text-transform: capitalize;
        }
    }
    .property-info-right {
        width: 46%;
        margin-left: 25px;
        .property-configs {
            margin-top: 5px;
            color: #2D0073;
            width: 70%;
            .config {
                padding-bottom: 10px;
                .type {
                    width: 25%;
                }
                .sqft, .price {
                    width: 35%;
                }
                .type, .sqft, .price {
                    display: inline-block;
                    height: 70%;
                }
                .type, .sqft {
                    border-right: 2px solid #2D0073;
                }
            }
        }
    }
}