.home-page-banner {
    height: 60vh;
    width: 100vw;
    position: relative;
    background-color: #34495e;
    background-image: url(/assets/images/bedroom.jpg);
    background-position: center;
    background-size: cover;
}