.search-box {
	@media screen and (max-device-width: 780px) {
    	input {
    		font-size: 1.5vw;
    		&:focus {
    			font-size: 12px;
    		}
    	}
    }
    @media screen and (min-device-width: 780px) {
    	input {
    		font-size: 20px;
    	}
    }
    .tags {
    	display: flex;
    	width: 100%;
    	flex-wrap: wrap;
    }
    .tag {
    	display: inline-block;
    }
	input {
	    zoom: 150%;
	    border-bottom-color: grey;
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
	    color: black;
	    border-top: none;
	    box-shadow: none;
	    border-left: none;
	    border-bottom-right-radius: 0px;
	    border-bottom-left-radius: 0px;
	    font-weight: 600;
	}
	.input-group-addon {
		background: rgba(255, 126, 66, 0.65);
	    padding-left: 30px;
	    padding-right: 30px;
	    min-width: 120px;
	    padding-top: 14px;
	}
}