<div class="top">
	<property-carousel-horizontal [properties]="properties" [indexOfHead]="index" (head)="head($event)"></property-carousel-horizontal>
</div>
<div class="bottom">
	<property-carousel-giant-horizontal [properties]="properties" [indexOfHead]="index" [user]="user" (head)="head($event)"></property-carousel-giant-horizontal>
</div>
<div class="small bottom">
	<property-carousel-giant-mobile-horizontal [properties]="properties" [indexOfHead]="index" [user]="user" (head)="head($event)"></property-carousel-giant-mobile-horizontal>
</div>
