.home-page-banner {
    height: 70vh;
    width: 100vw;
    position: relative;
    background-color: #34495e;
    background-image: url(/assets/images/buy.jpg);
    background-position: center;
    background-size: cover;
}