.developer-card {
	display: inline-block;
    vertical-align: top;
    border: 1px solid #E6E6E6;
    background-color: #fff;
    margin-right: 30px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
}