.main-menu {
  //margin-top: 150px;
  .controls {
    display: inline-block;
    position: relative;
    @media screen and (max-device-width: 780px) {
      .btn-group {
        width: 50vw;
      }
    }
    @media screen and (min-device-width: 780px) {
      .btn-group {
        width: 40vw;
      }
    }
    .btn-group {
      bottom: 20px;
      .btn {
        background: rgba(0,0,0,.5);
        color: #fff;
        border: solid rgba(255,255,255,.75);
        border-width: 1px;
        height: 45px;
        width: 50%;
        text-align: center;
        position: static;
        left: auto;
        font-size: 16px;
        font-weight: 200;
        &:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus {
          outline: none;
        }
        &.selected {
          color: #fff;
          background: rgba(255, 126, 66, 0.65);
          border: solid #fff;
          border-width: 1px;
        }
      }
    }
  }
}