.property-img {
    width: 100%;
    height: 150px;
}
.property-title {
    margin-top: 10px;
    font-weight: 600;
    margin-top: 5px;
    width: 150px;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
}
.property-info {
    margin-top: 10px;
    color: grey;
    font-size: 10px;
    text-align: left;
    text-transform: capitalize;
}