.result-details {
	height: 360px;
    padding: 20px;
    border: 1px solid #E6E6E6;
    margin-left: 22px;
    margin-top: 18px;
    .result-property {
    	width: 90%;
    	height: 90%;
    	background-image: url(/assets/images/sampleresultdetails.jpg);
    }
}